{% extends 'base.html' %}

{% block content %}
{{ form.media }}

<ul class="breadcrumb">
  <li><a href="{% url 'list_scan_def_view' %}">scans</a></li>
  <li><a href="{% url 'list_scan_campaigns_view' %}">campaigns</a></li>
  <li class="active">add new scan campaign</li>
</ul>

<div class="container">
  <form action="{% url 'add_scan_campaign_view' %}" method="post" class="form-horizontal">
    <legend>Add a new scan campaign</legend>
      {% csrf_token %}
      {% for field in form %}
          {% if field.errors %}
              <div class="form-group has-error">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                      {{ field }}
                      <span class="help-block">
                          {% for error in field.errors %}{{ error }}{% endfor %}
                      </span>
                  </div>
              </div>
          {% elif not field.is_hidden %}
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                      {{ field }}
                      {% if field.help_text %}
                          <p class="help-block"><small>{{ field.help_text }}</small></p>
                      {% endif %}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      <div class="form-group">
        <button type="submit" class="btn btn-warning">Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
        <button class="btn btn-primary"><a href="{% url 'list_scan_campaigns_view' %}">Cancel</a></button>
      </div>
  </form>
</div>

{% endblock %}
